@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Montserrat&family=Noto+Sans+Symbols+2&display=swap");

$main-palette-color: #778ccc;
$solarized-base03: #002b36;
$solarized-base02: #073642;
$solarized-base01: #586e75;
$solarized-base00: #657b83;
$solarized-base0: #839496;
$solarized-base0-half: #83949655;
$solarized-base0-trans: #83949600;
$solarized-base1: #93a1a1;
$solarized-base2: #eee8d5;
$solarized-base3: #fdf6e3;
$solarized-yellow: #b58900;
$solarized-orange: #cb4b16;
$solarized-red: #dc322f;
$solarized-magenta: #d33682;
$solarized-violet: #6c71c4;
$solarized-violet-faded: #6c71c433;
$solarized-blue: #268bd2;
$solarized-blue-faded: #268bd233;
$solarized-blue-light: hsl(204.8, 69.4%, 80%);
$solarized-cyan: #2aa198;
$solarized-cyan-faded: #2aa19833;
$solarized-green: #859900;

/* $desert-sky-darker: #120036; */
$desert-sky-darker: #0a001e;
$desert-sky-dark: #4745ba;
$desert-sky-light: #89dddc;
$desert-sky-lighter: #f0f0f0;

$desert-day-darker: #8c2d27;
$desert-day-dark: #d14719;
$desert-day-light: #f26628;
$desert-day-lighter: #fe8a41;

$desert-night-darker: #4d1832;
$desert-night-dark: #5f0c38;
$desert-night-light: #751441;
$desert-night-lighter: #8d274c;

$desert-sun-yellow: #fdc82e;
$desert-sun-yellow-half: #fdc82e55;
$desert-sun-yellow-faded: #fdc82e00;

$medium-screen-break: 1100px;
$small-screen-break: 768px;

$transition-time: 0s;

body {
  background-color: #ffffff;
  font-family: "Bitter", serif;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  transition: color $transition-time;
  color: $solarized-blue;
}
.night a {
  color: $solarized-blue-light;
}

#content {
  display: grid;
  grid-column-gap: 3%;
  row-gap: 50px;
  grid-template-rows: 100px calc(100vh - 300px) 100px;
  grid-template-columns: auto minmax(200px, 300px) minmax(800px, 1000px) auto;
  grid-template-areas:
    "header header header header"
    ". nav content ."
    "footer footer footer footer";
  transition: color $transition-time;
}
@media (max-width: $medium-screen-break) {
  #content {
    grid-template-columns: 0 25% auto 0;
  }
}
@media (max-width: $small-screen-break) {
  #content {
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 100px 10vh calc(90vh - 260px) 100px;
    grid-template-areas:
      "header header header"
      ". nav ."
      ". content ."
      "footer footer footer";
    row-gap: 20px;
  }
}
#content.day {
  color: $solarized-base02;
}
#content.night {
  color: $solarized-base2;
}

/*******/
/* Sky */
/*******/
#night-sky-container,
#day-sky-container {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
#night-sky-grid-container,
#day-sky-grid-container {
  display: grid;
  grid-template-rows: auto 100px;
  height: 100vh;
  width: 100%;
}
#day-sky {
  background: linear-gradient(
    0deg,
    $desert-sky-light 0,
    $desert-sky-lighter 100px
  );
  display: grid;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: -1;
  transition: opacity $transition-time;
}
#night-sky {
  background: linear-gradient(
    0deg,
    $desert-sky-dark 0,
    $desert-sky-darker 100px
  );
  display: grid;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: opacity $transition-time;
}

/**********/
/* Header */
/**********/

#header-area {
  grid-area: header;
  display: flex;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
}
#header-content-container {
  display: grid;
  grid-column-gap: 3%;
  grid-template-columns: auto minmax(200px, 300px) minmax(800px, 1000px) auto;
  width: 100%;
}
@media (max-width: $medium-screen-break) {
  #header-content-container {
    grid-template-columns: 0 25% auto 0;
  }
}
@media (max-width: $small-screen-break) {
  #header-content-container {
    grid-template-columns: 13% auto 13%;
    grid-gap: 0;
  }
}

#header-content {
  background-color: $solarized-blue;
  color: $solarized-base02;
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  height: 100%;
  justify-content: center;
  padding: 0 1rem;
  transition: color $transition-time;
  z-index: 50;
}
#header-content-inner {
  border: 2px solid $solarized-base02;
  height: 100%;
  margin: 5px;
  padding: 0.5rem;
}
.night #header-content {
  color: $solarized-base2;
}
#header-area {
  .name {
    font-size: 2em;
  }
  .subname {
    font-size: 1em;
  }
}

#header-grid {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.header-grid-square {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #66666611;
  border-radius: 5px;
  height: 16px;
  margin: 1px;
  width: 16px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.grid-square-enter {
  animation: fadeIn 500ms;
}
.grid-square-active {
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
}
.grid-square-active-0 {
  background: $solarized-blue-faded;
}
.grid-square-active-1 {
  background: $solarized-cyan-faded;
}
.grid-square-active-2 {
  background: $solarized-violet-faded;
}
#life-button-container {
  align-items: end;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
#life-button-container button {
  align-items: center;
  background-color: $solarized-blue;
  border: none;
  border-radius: 3px;
  display: grid;
  grid-template-rows: 100%;
  height: 1.5rem;
  margin-left: 5px;
  padding: 2px;
  width: 1.5rem;
  z-index: 1;
}
#life-button-container button:hover {
  background-color: $solarized-blue-faded;
}
.night #life-button-container button {
  color: $solarized-base2;
}
@media (max-width: $small-screen-break) {
  #life-button-container {
    display: none;
  }
}
.play-button-container,
.pause-button-container,
.reset-button-container {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  height: 100%;
  position: relative;
  width: 100%;
  > div {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 1;
    transition: opacity $transition-time;
    > img {
      height: 100%;
      width: 100%;
    }
  }
}
.day .life-icon-night {
  opacity: 0;
}

.night .life-icon {
  opacity: 0;
}

.life-play-button {
  &.play {
    .pause-button-container {
      opacity: 0;
    }
  }
  &.pause {
    .play-button-container {
      opacity: 0;
    }
  }
}

/**********/
/* Footer */
/**********/

#footer-area {
  display: grid;
  grid-area: footer;
  grid-template-columns: auto 800px auto;
  grid-template-rows: auto;
  height: 100px;
  width: 100%;
}
@media (max-width: 800px) {
  #footer-area {
    grid-template-columns: 0 100% 0;
  }
}
#day-night-toggle-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#day-night-toggle {
  align-items: center;
  background-color: inherit;
  border: 1px solid $solarized-blue;
  border-radius: 7px;
  display: flex;
  padding: 2px;
  > div {
    background-size: 100% 100%;
    display: flex;
    width: 2rem;
    height: 2rem;
    opacity: 1;
    transition: background-color 0.5s;
  }
}
#day-toggle {
  background: url("../img/controls/sun.svg");
  background-color: $desert-sun-yellow;
  border-radius: 7px;
}
.night {
  #day-toggle {
    background-color: $desert-sun-yellow-faded;
    &:hover {
      background-color: $desert-sun-yellow-half;
    }
  }
}
#night-toggle {
  background: url("../img/controls/moon.svg");
  background-color: $solarized-base0;
  border-radius: 7px;
}
.day #night-toggle {
  background-color: $solarized-base0-trans;
  &:hover {
    background-color: $solarized-base0-half;
  }
}
#footer-area {
  #day-ground {
    background: url("../img/desert-ground-day.png");
    background-size: 100% 100%;
    grid-column-start: 2;
    grid-row-start: 1;
    transition: opacity $transition-time;
  }
  #night-ground {
    background: url("../img/desert-ground-night.png");
    background-size: 100% 100%;
    grid-column-start: 2;
    grid-row-start: 1;
    transition: opacity $transition-time;
  }
}
@media (max-width: 800px) {
  #footer-area {
    #day-ground {
      background-size: 800px;
    }
    #night-ground {
      background-size: 800px;
    }
  }
}
.footer-left {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-template-rows: 43% 5% 21% 19% 12%;
  transition: opacity $transition-time;
}
.footer-right {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-template-rows: 51% 0 19% 11% 19%;
  transition: opacity $transition-time;
}
.footer-side-day {
  .desert-sky {
    background-color: $desert-sky-light;
  }
  .desert-ground-lighter {
    background-color: $desert-day-lighter;
  }
  .desert-ground-light {
    background-color: $desert-day-light;
  }
  .desert-ground-dark {
    background-color: $desert-day-dark;
  }
  .desert-ground-darker {
    background-color: $desert-day-darker;
  }
}
.footer-side-night {
  .desert-sky {
    background-color: $desert-sky-dark;
  }
  .desert-ground-lighter {
    background-color: $desert-night-lighter;
  }
  .desert-ground-light {
    background-color: $desert-night-light;
  }
  .desert-ground-dark {
    background-color: $desert-night-dark;
  }
  .desert-ground-darker {
    background-color: $desert-night-darker;
  }
}

/********/
/* Menu */
/********/

#menu-area {
  font-family: "Montserrat", sans-serif;
  grid-area: nav;
  margin: 0;
  padding-left: 0;
  ul {
    padding: 0;
    li {
      border: 1px solid $solarized-blue;
      list-style: none;
      margin: 0.5rem 0;
      transition: background-color 100ms ease-in;
      &:hover {
        background-color: $solarized-blue-faded;
      }
      &.selected {
        background-color: $solarized-blue;
        color: black;
      }
      button {
        background-color: inherit;
        border: none;
        font-family: inherit;
        font-size: 1.2rem;
        padding: 0.5rem 0;
        transition: color $transition-time;
        width: 100%;
      }
    }
  }
}
.night #menu-area ul li button {
  color: $solarized-base2;
}

@media (max-width: $small-screen-break) {
  #menu-area ul {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    column-gap: 2%;
    li {
      display: grid;
      button {
        color: inherit;
        font-size: 0.9rem;
      }
    }
  }
}

/************/
/* Sections */
/************/

#sections-area {
  grid-area: content;
  overflow: auto;
}

/*********/
/* About */
/*********/

#self-portrait {
  border: 1px solid $solarized-base1;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  float: right;
  margin-left: 1rem;
  margin-right: 5px;
  margin-bottom: 10px;
  width: 300px;
}
#about-badges-container,
#about-contact-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
#about-contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
}
#about-badges {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  img {
    width: 3rem;
    border: 1px solid $solarized-base1;
    border-radius: 5px;
  }
}
.italic {
  font-style: italic;
}

/************/
/* Projects */
/************/

.project {
  border-bottom: 1px solid $solarized-base00;
  margin-bottom: 2rem;
  padding: 0 0.8rem 2rem 0.8rem;
}
.project:last-of-type {
  border-bottom: none;
}
.project-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  margin-bottom: 0.8rem;
  margin-top: 0;
}
.project-tech {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
  span {
    display: flex;
    justify-content: center;
    &:not(:first-of-type) {
      margin-left: 1rem;
    }
  }
  img {
    height: 25px;
  }
}
.project-git {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.8rem;
}
.project-imgs {
  display: flex;
  justify-content: center;
  margin-bottom: 0.8rem;
  max-width: 100%;
  div {
    flex-basis: auto;
    margin: 0 1rem;
  }
  img {
    border: 1px solid $solarized-base1;
    border-radius: 5px;
    max-width: 600px;
    width: 100%;
  }
}

#personal-website img {
  transition: opacity $transition-time;
}
#personal-website .project-imgs {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  div {
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 1;
    &:first-of-type img {
      opacity: 1;
    }
    &:last-of-type img {
      opacity: 0;
    }
  }
}
.night #personal-website .project-imgs {
  div {
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 1;
    &:first-of-type img {
      opacity: 0;
    }
    &:last-of-type img {
      opacity: 1;
    }
  }
}
/******/
/* CV */
/******/
#cv-section {
  margin-right: 1.6rem;
}
#cv-header-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1.6rem;
}
.cv-banner {
  font-family: "Montserrat", sans-serif;
}
.cv-name {
  font-size: 2rem;
  font-weight: 900;
}
.cv-tagline {
  font-size: 1rem;
}
.cv-contact-info {
  display: grid;
  justify-content: flex-end;
  justify-items: flex-end;
}
@media (max-width: $small-screen-break) {
  #cv-section {
    font-size: 0.8rem;
  }
  #cv-header-section {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 0.5rem;
  }
  .cv-contact-info {
    justify-content: center;
    justify-items: center;
  }
}

.cv-section-header {
  border-bottom: 1px solid $solarized-base1;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 8px;
}

/* CV Skills */
#cv-skills-section {
  margin-bottom: 1.6rem;
}
.cv-skills-content {
  display: grid;
  grid-template-columns: 35% auto;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 0.8rem;
  > div {
    padding-top: 4px;
  }
}
@media (max-width: $small-screen-break) {
  .cv-skills-content {
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
  }
}
.cv-skills-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.cv-skills-tier {
  font-weight: 600;
}

/* CV Exp */
#cv-exp-section {
  margin-bottom: 1.6rem;
}
.cv-exp-position {
  margin-bottom: 1.6rem;
}
.cv-exp-header {
  display: grid;
  grid-template-columns: auto 35%;
  grid-template-rows: auto auto;
  margin-bottom: 0.4rem;
  margin-left: 0.8rem;
}
.cv-exp-employer {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.cv-exp-dates {
  justify-self: end;
  text-align: end;
}
.cv-exp-title {
  font-style: italic;
}
.cv-exp-location {
  font-style: italic;
  justify-self: end;
}
.cv-exp-summary {
  margin-left: 0.8rem;
}
.cv-exp-highlights {
  padding-left: 0.8rem;
  li {
    margin-bottom: 4px;
  }
}
.cv-exp-highlight-title {
  font-style: italic;
}

/* CV Edu */
#cv-edu-section {
  margin-bottom: 1.6rem;
}
.cv-edu-entry {
  display: grid;
  grid-template-columns: auto 20%;
  grid-template-rows: auto auto;
  margin-left: 0.8rem;
  margin-bottom: 0.8rem;
}
.cv-edu-institution {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.cv-edu-dates {
  display: grid;
  justify-content: end;
}
@media (max-width: $small-screen-break) {
  .cv-edu-entry {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  .cv-edu-dates {
    justify-content: start;
  }
}

/* CV Pubs */
#cv-pubs-section {
  margin-bottom: 4rem;
  ul {
    list-style: none;
    padding-left: 0.8rem;
  }
  li {
    margin-bottom: 0.8rem;
  }
}
.journal {
  font-style: italic;
}
.resume-link {
  text-align: center;
}
