@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Montserrat&display=swap");

:root {
  --main-palette-color: #778ccc;
  --solarized-base03: #002b36;
  --solarized-base02: #073642;
  --solarized-base01: #586e75;
  --solarized-base00: #657b83;
  --solarized-base0: #839496;
  --solarized-base1: #93a1a1;
  --solarized-base2: #eee8d5;
  --solarized-base3: #fdf6e3;
  --solarized-yellow: #b58900;
  --solarized-orange: #cb4b16;
  --solarized-red: #dc322f;
  --solarized-magenta: #d33682;
  --solarized-violet: #6c71c4;
  --solarized-violet-faded: #6c71c433;
  --solarized-blue: #268bd2;
  --solarized-blue-faded: #268bd233;
  --solarized-cyan: #2aa198;
  --solarized-cyan-faded: #2aa19833;
  --solarized-green: #859900;

  /* CSS HEX */
  --green-blue-crayola: #268bd2ff;
  --space-cadet: #283044ff;
  --tea-green: #c9e4caff;
  --bittersweet: #f87666ff;
  --ghost-white: #fbfbffff;

  --desert-sky-darker: #120036;
  --desert-sky-dark: #4745ba;
  --desert-sky-light: #89dddc;
  --desert-sky-lighter: #f0f0f0;

  --desert-day-darker: #8c2d27;
  --desert-day-dark: #d14719;
  --desert-day-light: #f26628;
  --desert-day-lighter: #fe8a41;

  --desert-night-darker: #4d1832;
  --desert-night-dark: #5f0c38;
  --desert-night-light: #751441;
  --desert-night-lighter: #8d274c;
}

body {
  background-color: #ffffff;
  font-family: "Bitter", serif;
  padding: 0;
  margin: 0;
}

a {
  color: var(--solarized-blue);
  text-decoration: none;
}

#night-sky-container,
#day-sky-container {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
#night-sky-grid-container,
#day-sky-grid-container {
  display: grid;
  grid-template-rows: auto 150px;
  height: 100vh;
  width: 100%;
}
#day-sky {
  background: linear-gradient(
    0deg,
    var(--desert-sky-light) 0,
    var(--desert-sky-lighter) 150px
  );
  display: grid;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: -1;
  transition: all 2s;
}
#night-sky {
  background: linear-gradient(
    0deg,
    var(--desert-sky-dark) 0,
    var(--desert-sky-darker) 150px
  );
  display: grid;
  grid-row-start: 1;
  /* position: absolute; */
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 2s;
}
#content {
  display: grid;
  grid-column-gap: 3%;
  row-gap: 50px;
  grid-template-rows: 120px calc(100vh - 370px) 150px;
  grid-template-columns: 10% 20% auto 10%;
  grid-template-areas:
    "header header header header"
    ". nav content ."
    "footer footer footer footer";
}

/**********/
/* Header */
/**********/

#header-area {
  grid-area: header;
  display: flex;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  height: 122px;
}
#header-content-container {
  display: grid;
  grid-column-gap: 3%;
  grid-template-columns: 10% 20% auto 10%;
  width: 100%;
}
#header-content {
  background-color: var(--solarized-blue);
  color: var(--solarized-base02);
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  height: 100%;
  justify-content: center;
  padding: 0 1rem;
  z-index: 50;
}
#header-area .name {
  font-size: 2.3rem;
}
#header-area .subname {
  font-size: 1.2rem;
}
#header-grid {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(100, 1fr);
}
.header-grid-square {
  border-radius: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid #66666611;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  margin: 1px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.grid-square-enter {
  animation: fadeIn 500ms;
}
.grid-square-active {
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.grid-square-active-0 {
  background: var(--solarized-blue-faded);
}
.grid-square-active-1 {
  background: var(--solarized-cyan-faded);
}
.grid-square-active-2 {
  background: var(--solarized-violet-faded);
}
#reset-button-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
#reset-button-container div {
  display: flex;
}
.life-init-button {
  background-color: var(--solarized-blue);
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 5px;
  z-index: 100;
}

/**********/
/* Footer */
/**********/
#footer-area {
  grid-area: footer;
  display: grid;
  grid-template-columns: auto 1000px auto;
  grid-template-rows: auto;
  height: 150px;
  width: 100%;
}
#footer-area #day-ground {
  background: url("../img/desert-ground-day.png");
  background-size: 100% 100%;
  grid-column-start: 2;
  grid-row-start: 1;
  transition: all 2s;
}
#footer-area #night-ground {
  background: url("../img/desert-ground-night.png");
  background-size: 100% 100%;
  grid-column-start: 2;
  grid-row-start: 1;
  transition: all 2s;
}
#footer-left-day,
#footer-left-night {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-template-rows: 65px 7px 32px 28px auto;
  transition: all 2s;
}
#footer-right-day,
#footer-right-night {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-template-rows: 76px 0px 28px 18px auto;
  transition: all 2s;
}

#footer-left-day .desert-sky,
#footer-right-day .desert-sky {
  background-color: var(--desert-sky-light);
}
#footer-left-day .desert-ground-lighter,
#footer-right-day .desert-ground-lighter {
  background-color: var(--desert-day-lighter);
}
#footer-left-day .desert-ground-light,
#footer-right-day .desert-ground-light {
  background-color: var(--desert-day-light);
}
#footer-left-day .desert-ground-dark,
#footer-right-day .desert-ground-dark {
  background-color: var(--desert-day-dark);
}
#footer-left-day .desert-ground-darker,
#footer-right-day .desert-ground-darker {
  background-color: var(--desert-day-darker);
}

#footer-left-night .desert-sky,
#footer-right-night .desert-sky {
  background-color: var(--desert-sky-dark);
}
#footer-left-night .desert-ground-lighter,
#footer-right-night .desert-ground-lighter {
  background-color: var(--desert-night-lighter);
}
#footer-left-night .desert-ground-light,
#footer-right-night .desert-ground-light {
  background-color: var(--desert-night-light);
}
#footer-left-night .desert-ground-dark,
#footer-right-night .desert-ground-dark {
  background-color: var(--desert-night-dark);
}
#footer-left-night .desert-ground-darker,
#footer-right-night .desert-ground-darker {
  background-color: var(--desert-night-darker);
}

/********/
/* Menu */
/********/

#menu-area {
  grid-area: nav;
  /* background: linear-gradient(
    0deg,
    var(--desert-sky-light) 0,
    var(--desert-sky-lighter) 300px
  ); */
  font-family: "Montserrat", sans-serif;
  grid-column-start: 2;
  margin: 0;
  padding-left: 0;
}
#menu-area ul {
  padding: 0;
}
#menu-area ul li {
  border: 1px solid var(--solarized-blue);
  list-style: none;
  margin: 0.5rem 0;
  transition: background-color 100ms ease-in;
}
#menu-area ul li:hover {
  background-color: var(--solarized-blue-faded);
}
#menu-area ul li button {
  background-color: inherit;
  border: none;
  color: var(--solarized-base02);
  font-family: inherit;
  font-size: 1.4rem;
  padding: 0.5rem 0;
  width: 100%;
}

#menu-area ul li.selected {
  background-color: var(--solarized-blue);
  color: black;
}

/************/
/* Sections */
/************/

#sections-area {
  grid-area: content;
  /* background: linear-gradient(
    0deg,
    var(--desert-sky-light) 0,
    var(--desert-sky-lighter) 300px
  ); */
  color: var(--solarized-base02);
  overflow: auto;
}

/*********/
/* About */
/*********/

#self-portrait {
  border-radius: 5px;
  float: right;
  margin-left: 1rem;
  width: 300px;
}
#about-badges-container,
#about-contact-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
#about-contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
}
#about-contact a {
  color: var(--solarized-blue);
  text-decoration: none;
}
#about-badges {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

/************/
/* Projects */
/************/

.project {
  border-bottom: 1px solid var(--solarized-base00);
  margin-bottom: 3rem;
  padding: 0 1rem 3rem 1rem;
}
.project:last-of-type {
  border-bottom: none;
}
.project-title {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.project-title a {
  color: var(--solarized-blue);
  text-decoration: none;
}
.project-tech {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
}
.project-git {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
}
.project-git a {
  color: var(--solarized-blue);
  text-decoration: none;
}
.project-imgs {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  max-width: 100%;
}
.project-imgs img {
  border: 1px solid var(--solarized-base1);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  flex-basis: auto;
  margin: 0 1rem;
  max-width: 600px;
  width: 100%;
}
.project-desc a {
  color: var(--solarized-blue);
  text-decoration: none;
}

/******/
/* CV */
/******/
#cv-section {
  margin-right: 2rem;
}
#cv-header-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
}
.cv-banner {
  font-family: "Montserrat", sans-serif;
}
.cv-name {
  font-size: 2.5rem;
  font-weight: 900;
}
.cv-tagline {
  font-size: 1.2rem;
}
.cv-contact-info {
  display: grid;
  justify-content: flex-end;
  justify-items: flex-end;
}
.cv-section-header {
  border-bottom: 1px solid var(--solarized-base1);
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

/* CV Skills */
#cv-skills-section {
  margin-bottom: 2rem;
}
.cv-skills-content {
  display: grid;
  grid-template-columns: 35% auto;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 1rem;
}
.cv-skills-content > div {
  padding-top: 5px;
}
.cv-skills-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.cv-skills-tier {
  font-weight: 600;
}

/* CV Exp */
#cv-exp-section {
  margin-bottom: 2rem;
}
.cv-exp-position {
  margin-bottom: 2rem;
}
.cv-exp-header {
  display: grid;
  grid-template-columns: auto 35%;
  grid-template-rows: auto auto;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}
.cv-exp-employer {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.cv-exp-dates {
  justify-self: end;
}
.cv-exp-title {
  font-style: italic;
}
.cv-exp-location {
  font-style: italic;
  justify-self: end;
}
.cv-exp-summary {
  margin-left: 1rem;
}
.cv-exp-highlights {
  padding-left: 1rem;
}
.cv-exp-highlights li {
  margin-bottom: 5px;
}
.cv-exp-highlight-title {
  font-style: italic;
}

/* CV Edu */
#cv-edu-section {
  margin-bottom: 2rem;
}
.cv-edu-entry {
  display: grid;
  grid-template-columns: auto 20%;
  grid-template-rows: auto auto;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.cv-edu-institution {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.cv-edu-dates {
  display: grid;
  justify-content: end;
}

/* CV Pubs */
#cv-pubs-section {
  margin-bottom: 5rem;
}
#cv-pubs-section a {
  color: var(--solarized-blue);
}
#cv-pubs-section ul {
  list-style: none;
  padding-left: 1rem;
}
#cv-pubs-section li {
  margin-bottom: 1rem;
}
.journal {
  font-style: italic;
}
